.topnav {
    background-color: #333;
    overflow: hidden;
}

a.topnav{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

a.topnav:hover{
    color: rgb(0, 0, 0);
    background-color: #ddd;
}

article.content-article{
    font-size: 24px;
    padding: 1% 1% 15% 5%;
}

main.container{
    background-color: antiquewhite;
    margin: 1% 15% 5% 15%;    
}

body{
    background-image: url(/projetoSite/img/site-background.jfif);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.animals{
    width: 35% ;
    margin: 0px 20% 0px 35%;
}

.biomes{
    width: 35% ;
    margin: 0px 20% 0px 35%;
}


input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=submit]{
    background-color: #61d3a9;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    transition: background-color 0.3s ease;
  }

  input[type=submit]:hover{
    background-color:#248661
  
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

footer {
    text-align: center;
    background-color: antiquewhite;
    padding: 20px 0px 20px 0px;
    margin: 1% 15% 1% 14%;
}

svg.socialmedia{
    height: 35px;
    width: 50px;
    color: #000000;
    padding: 5px;
    border-radius: 100px;
}
.socialmedia:hover{
    color: #02e08f;
    transition: 0.3s;

}

.socialicon{
    padding: 10px 5px 10px 5px;
    position: relative;
    left: 45%;
    height: 2%;
    width: 4%;
}

.socialicon:hover{
    color: #02e08f;
    transition: 0.3s;  
}

.timeDiv{
    position: relative;
    left: 77%;
    margin: 10px 50px 0px 50px;
}
.present{
    color: rgb(14, 206, 212);
    height: 1%;
    width: 2%;
    border-radius: 25px;
    border: solid rgb(14, 206, 212);
}

.present:hover{
    color: rgb(231, 15, 0);
    transition: 0.6s;
    padding: 2px;
    border: 1px double;
}
